body{
    background-color:#011638;
}

.header {
    background-color: #141414;
    color: #EEC643;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

h1{
    justify-content: center;
    display:flex;
    font-family:'Pacifico', cursive;    
    font-size: 250%;
}


.main{
    display: flex;   /*vertical*/
	justify-content: center; /*centrally justified*/   
}


/*button stuff*/
.button {
    color: #EEF0F2;
    text-align: center;
    font-size: 17px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    border: solid 2px blue;
    margin: 15px;
}


.button:hover {
    background-color:#0D21A1;
}



